.recipe{
    padding: 20px;
    padding-bottom: 40px;
    border-bottom: 2px solid black;
}
.recipe:last-child{
    border: none;
    padding-bottom: 10px;
}
.recipe__header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 30px;
}
.recipe__tittle{
    margin: 0;
    font-size: 1.75rem;
}
.recipe__row{
    margin-top: 10px;
}
.recipe__label{
margin-right: 5px;
}
.recipr__value{
font-weight: 300;
}
.recipe__value--indented{
    margin-top: 10px;
    margin-left: 20px;
}
.recipe__instruction{
    white-space: pre-wrap;
}
.ingredient-grid{
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(2,auto);
    row-gap: 5px;
    column-gap: 40px;
    justify-content: flex-start;
}